@font-face {
    font-family: comic;
    src: url(../assets/comic.ttf);
}
@font-face {
    font-family: Dank-Mono;
    src: url(../prismjs/Dank_Mono_Regular.otf);
}
@font-face {
    font-family: Dank-Mono-italic;
    src: url(../prismjs/Dank_Mono_Italic.otf);
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    padding: 10px;
    overflow-x: auto;
}

.title {
    font-family: monospace;
    font-size: 32px;
    letter-spacing: -1px;
}

.title span {
    font-style: italic;
}

.inpt {
    width: fit-content;
    padding: 10px 0px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: comic, sans-serif;
    max-width: 350px;
}

.inpt input {
    padding: 4px 10px;
    font-size: 16px;
    outline: none;
    border: 2px solid rgba(0, 0, 255, 0.254);
    border-radius: 6px;
    transition: all 0.2s ease-in;
    font-family: comic, sans-serif;
}

.inpt input:focus {
    border: 2px solid rgba(0, 0, 255, 0.654);
}

.inpt button {
    margin-left: 10px;
    padding: 4px 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid rgba(0, 0, 255, 0.727);
    background: white;
    cursor: pointer;
    transition: all 0.2s ease-in;
    user-select: none;
    font-family: comic, sans-serif;
}

.inpt button:hover {
    background: rgba(0, 0, 255, 0.727);
    color: white;
}

.inpt button:active {
    border: 2px solid rgba(0, 0, 255, 0.427);
    background: rgba(0, 0, 255, 0.427);
}

.heading {
    font-family: comic, sans-serif;
    font-family: Dank-Mono-italic, sans-serif;
}

.result {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1;
    width: fit-content;
    font-weight: 700;
    min-width: 280px;
    display: block;
}
body::-webkit-scrollbar{
    height: 6px;
    width: 6px;
    background: rgba(0, 0, 0, 0.06);
    border-radius: 99px;
}
body::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 255, 0.392);
    border-radius: 99px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: rgba(0, 0, 255, 0.481);
}
body::-webkit-scrollbar-thumb:active{
    background-color: rgba(0, 0, 255, 0.581);
}

@media screen and (max-width: 868px) {
    .title{
        font-size: 28px;
    }
    .heading{
        font-size: 20px;
    }
}
@media screen and (max-width: 768px) {
    .title{
        font-size: 24px;
    }
    .heading{
        font-size: 20px;
    }
}
@media screen and (max-width: 440px) {
    .heading{
        font-size: 16px;
    }
    .inpt{
        justify-content: start;
    }
    .inpt input{
        width: 70%;
        font-size: 14px;
    }
    .inpt button{
        font-size: 14px;
    }
}